*{
  margin: 0;
  padding: 0;
  
}

.menu{
  background-color:  #6B2E38;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
 
}



.logo{
  width: 200px;
}

.menu a{
  color: #f4eeed;
  text-decoration: none;
  transition: color 0.2s;
}

.opcoes{
  text-align: center;
  color: rgb(223, 223, 223);
}

.loja{
  text-align: left;
  margin-top: 135px;
  margin-left: 25ch ;
  bottom: 12%;
  background-position: 100%;
}

.nome{
  margin-left: left;

}

.loja h4{
  margin-left: 9ch ;
}

.loja h5{
  margin-left: 1ch ;
}

.custom-button{
    width: 100%;
    height: 45%;
    border: none;
    outline: none;
    border-radius: 400px;
    box-shadow: 0 0 10px rgb(0 , 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    background: #e8f3f7 !important;
    color: #6B2E38;;
    padding: 15px 35px 18px 20px;
  }




